<h2>感谢您对 MSTC 的关注，您现在可以</h2>
<ul>
  <li> <%= link_to '看看 MSTC 的简介', about_url %></li>
  <% if @form %>
    <li> <%= link_to '再改改我的报名表', edit_self_forms_path %> </li>
    <% unless @deadline_exceed %>
      <li> <%= link_to '填写一份新的报名表', new_form_url(), confirm: '注意：填写新的报名表并提交成功后将导致无法修改旧的报名表，确认要继续填写吗？' %> </li>
    <% end %>
  <% else %>
    <% unless @deadline_exceed %>
      <li> <%= link_to '填写一份新的报名表', new_form_url() %> </li>
    <% end %>
  <% end %>
  <li> <%= link_to '去 CC98 MSTC 版面灌水（需要内网）', 'http://www.cc98.org/list.asp?boardid=60' %></li>
  <li>确认无误后，直接关闭这个页面即可</li>
</ul>
