<p id="notice"><%= notice %></p>

  <h3 class=<%= @form.gender == 1 ? 'male' : 'female' %>><%= @form.name %></h3>
  <div>
    <%= @form.gender == 1 ? '男' : '女' %>
    <%= splitter %>
    <%= @form.major %>
    <%= splitter %>
    <%= @form.campus == 1 ? '紫金港' : '玉泉' %>
    <%= splitter %>
    <%= @form.tel %>
    <%= splitter %>
    <%= @form.email %>
    <%= splitter %>
    <%= @form.forum_id %>
    <%= splitter %>
    <%= @form.tg ? 'TG ' : '' %>
    <%= @form.og ? 'OG ' : '' %>
    <%= @form.cg ? 'CG ' : '' %>
    <%= @form.pg ? 'PG ' : '' %>
    <br />
    创建于 <%= l @form.created_at %> 
    <%= splitter %>
    更新于 <%= l @form.updated_at %> 
  </div>

  <%  { '' => @form.q1, '报名原因' => @form.q2, '喜欢软件/生活设想/活动形式' => @form.q3, '其他' => @form.q4, '注释' => @form.comments }.each do |k, v| %> 
    <% if v.present? %>
      <%= k %>
        <pre class='wrap'><%= v %></pre>
    <% end %>
  <% end %>

<%= form_for(@form) do |f| %>
  <%= hidden_field_tag :old_comments, @form.comments %>
  <div class="field">
    <div><%= f.label :comments, '新注释' %></div>
    <div><%= text_area_tag :new_comments %></div>
  </div>
  <div class="actions">
    <%= f.submit 'OK' %>
  </div>
<% end %>
  

<br />
<%= link_to '返回', :back %>
