<!DOCTYPE html>
<html>
<head>
  <title>MSTC 纳新</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id='form_container'>
    <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
    <% end %>

    <%= yield %>
  </div>

  <p class='tip'>版权所有(C) 2011 浙江大学微软技术俱乐部</p>
</body>
</html>
